body {
    background: lightgrey;
}

.buttonDiv {
    padding: 10px;
    text-align: right;
}

.buttonDiv button{
    padding: 10px;
    background: red;
    color: yellow;
}

/* @font-face {
    font-family: BlahaFont;
    src: url(../../fonts/Blahafont-Regular.ttf);
} */
